*{
    margin: 0;
    padding: 0;
}

body {
    padding-top: 4.5rem;
    /* margin-bottom: 4.5rem; */
    background: #E5E5E5;
    /* overflow-x: hidden !important; */
}
/* navbar sidebar*/
.navbar-header{
  background: #02553E;

}
.nav-link:hover {
  transition: all 0.4s;
}
.nav-link {
  color: white !important;
  font-size: 16px !important;
  letter-spacing: 0.5px !important;
  padding-left: 20px !important;
}
.nav-second-level li{
  list-style: none !important;
  background: transparent !important;
}
.nav-link-collapse:after {
  float: right;
  content: '\f107';
  font-family: 'FontAwesome';
  padding-left: 60px;
    padding-top: 5px;
}

.nav-link-show:after {
  float: right;
  content: '\f106';
  font-family: 'FontAwesome';
  padding-left: 60px;
    padding-top: 5px;
}

.nav-item ul.nav-second-level {
  padding-left: 0;
}

.nav-item ul.nav-second-level > .nav-item {
  padding-left: 20px;
}
.has-search-input .form-control {
    padding-left: 2.375rem;
}

.has-search-input .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    padding-left: 15px;
    padding-right: 10px;
}
.search-field-outer{
  width:100%;
  margin: 0 auto;
 
}
.search-field{
  border-radius: 33px;
  height: 51px;
  border: none;
  outline: none;
  box-shadow: none;
}
.search-field:active,.search-field:focus{
  border: none;
  outline: none;
  box-shadow: none;
}
.search-field-inner .fa-search{
  color: #02553E !important;
}
.search-field-inner input::placeholder{
  color: #9BA9B0;
  font-size: 15px;
}
.profile img{
  width: 46px;
  height: 46px;
  object-fit: cover;
  border-radius: 5px;
}
.profile span{
  color: white;
  font-size: 16px;
}
.logo-header img{
  margin-left: 75px;
}
.content-wrapper {
  margin-top: 25px;
}

@media (min-width: 992px) {
  .sidenav {
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
    height: calc(100vh - 3.5rem);
    margin-top: 5.8rem;
    background: #02553E;
    box-sizing: border-box;
    width: 278px;
    padding-top: 20px;
    padding-left: 13px;

  }
  .sidenav .nav-item{
    margin-top: 8px;
    margin-bottom: 8px;
   
    border-top-left-radius: 33px;
    border-bottom-left-radius: 33px;
    padding-left: 10px;
    /* height: 63px; */
    padding-top: 5px;
    padding-bottom: 5px;
    width: 265px;
    position: relative;
   
  }
  .sidenav .nav-item.active{
    background: linear-gradient(180deg, rgba(0, 255, 184, 0.58) 0%, rgba(217, 217, 217, 0.43) 100%);
  }
  .search-field-outer{
    width:47%;
    margin: 0 auto;
   
}
.content-wrapper {
  margin-left: 280px;
  margin-top: 25px;
}
.navbar-collapse{
  padding-left: 15% !important;
}

.navbar-header-right-section{
padding-right: 70px;
}

  } 
  /* media query end */

  .search-field,.search-field-inner{
    width: 100% !important;
  }
  .navbar-expand-lg .sidenav {
    flex-direction: column;
  }
  .nav-link-text{
    padding-left: 15px !important;
  }
  /* notification */
  .notification-dropdown{
    left: -345px !important;
    border-radius: 10px;
    max-width: 400px;
  }
  @media (max-width: 992px){
    .notification-dropdown{
      left: 0px !important;
      border-radius: 10px;
      max-width: 400px;
    }
  }
  .notification-profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .notification-profile p span{
    color: #02553E;
    font-size: 16px;
    font-weight: bold;
    padding-right: 5px;
  }
  .notification-profile p{
   color:  #A8A8A8;
   margin-bottom: 0px;
  }
  .notification-area{
    border-bottom: 1px solid gainsboro;
  }
  .notification-area:last-of-type{
    border-bottom: none;
  }

  .dropdown-menu{
    left: -195px;
  }
  .icon-button {
    position: relative;
  }
  .icon-button__badge {
    position: absolute;
    top: 3px;
    right:2px;
    width: 8px;
    height: 8px;
    background:#00FFB8;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  /* new dropdown */
  .dropbtn-notification {
    /* background-color:#02553E; */
    color: white;
    font-size: 16px;
    border: none;
    /* padding: 10px 30px; */
    border-radius: 5px;
  }
  
  .dropdown-notification {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content-notification {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 2px -2px gray;
    width: 101px;
    left: -74px;
    text-align: center;
    top: 32px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content-notification a {
    color: #B5B5BE;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    border-bottom: 1px solid #D9D9D9;
  }
  .dropdown-content-notification a:last-of-type{
    border-bottom: none;
  }
  
  .dropdown-content-notification a:hover {background-color: #ddd;}
  
  .dropdown-notification:hover .dropdown-content-notification {display: block;}
  
  .dropdown-notification:hover .dropbtn-user {
   text-decoration: none;
   color: white;
  
  }

/* navbar sidebar end */
/* dashboard screen one */
/* intro section*/
.intro-section{
  background-image: url('/assets/images/bn-dasd-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  border-radius: 15px;

}
.intro-section h1{
  color: white;
  font-size: 30px;
  text-transform: capitalize;
  padding-top: 51px !important;
  padding-left: 40px;
  margin-bottom: 0px;
}
.intro-section p{
  color: #76ADAD;
  font-size: 14px;
  margin-left: 40px;
  width: 60%;
  text-align: justify;
}
/* web traffic */
.web-traffic-graph{
  height: 250px;
}
.web-traffic-content{
  border-radius: 15px;
}
.web-traffic-content h1{
  color: #02553E;
  font-size: 26px;
  padding-top: 10px;
  padding-left: 10px;
}

/* basic professional and champions  users */
.basic-users-content{
  border-radius: 15px;
  border: 1px solid #E0E1F2;
}
.basic-users-list-profile img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.basic-users-header{
  padding-top: 34px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
}
.basic-users-list{
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #DBDDE6;
}
.basic-users-list:last-of-type{
  border-bottom: none;
}
.basic-users-header h1{
color: #02553E;
font-size: 20px;
}
.basic-users-header a{
  color: #79869F;
  font-size: 13px;
  text-decoration: none;
}
.basic-users-list-profile-text h5{
color: #02553E;
font-size: 16px;
margin-bottom: 0px;
}
.basic-users-list-profile-text span{
  font-size: 14px;
  color: #9999A3;
}
.basic-users-list-date span{
font-size: 14px;
color: #9999A3;
}
/* admin list */
.admins-list{
  padding-bottom: 10px !important;
}
.admin-list-popup{
  cursor: pointer;
  position: relative;
}
.admin-popup{
  position: absolute;
  background: #E5E5E5;
  z-index: 999;
  top: 50%;
  left: 0%;
  transform: translateX(-85%) translateY(10%);
  width: 89px;
  text-align: center;
  box-shadow: 0 4px 2px -2px gray;
  border-radius:5px;
  display: none;
  
}

.admin-popup a{
  text-decoration: none;
  color: #9999A3;
  font-size: 14px;
  display:block;
  padding: 10px;
}
.admin-popup a:first-of-type{
  border-bottom: 1px solid #DBDDE6;
}
.create-admin{
  padding-top: 150px !important;
  padding-bottom: 60px !important;
}
.create-admin a{
  text-decoration: none;
  color: white;
  background: #02553E;
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 18px;
}




/* chart */
/* .highcharts-axis{
  display: none;
}
.highcharts-axis-labels,.highcharts-subtitle,.highcharts-title,.highcharts-grid-line{
  display: none;
}
.highcharts-series-1{
  display: none;
}
.highcharts-series path{
  fill:rgba(1, 134, 0.8, 0.9);
} */
/* #chart {
  width:100%;
}
.apexcharts-yaxis-texts-g,.apexcharts-xaxis-texts-g,.apexcharts-toolbar,.apexcharts-menu-icon{
  display: none;
} */
/* chart */
/* users page css*/
.users-title h1{
  color: #02553E;
  font-size: 30px;
}
.users-left-section{
  padding-top:40px;
}
.users-right-button .export{
  text-decoration: none;
  color: white;
  background-color: #02553E;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 5px;
}
@media (max-width:425px){
  .users-right-button .export{
    font-size: 13px;
    padding: 10px 15px;
  }
  .dropbtn-filter {
    font-size: 13px !important;
    padding: 10px 15px !important;
  }
}
.users-right-section{
  padding-top: 25px;
}
@media (min-width:1199px){
  .users-right-section{
    padding-top: 55px;
  }
}
.users-search-field-outer{
  padding-top: 15px;
}
.users-search-field-outer,.users-search-field{
  width: 100%;
}
.users-search-field{
  border-radius: 5px;
  
}
.users-search-field::placeholder{
  font-size: 14px;
 
}
.users-search-field-inner .fa-search{
  font-size: 18px;
  padding-right: 10px;
}
.dropbtn-filter {
  background-color:#02553E;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
}

.dropdown-filter {
  position: relative;
  display: inline-block;
}

.dropdown-content-filter {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 2px -2px gray;
  width: 190px;
  left: -74px;
  text-align: center;
  top: 32px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.update-profile-dropdown-content-filter{
  left:1px;
  width: 182px;
}
@media screen and (max-width: 425px){
  .dropdown-content-filter {
    width: 140px;
    left: -65px;
  }
  .update-profile-dropdown-content-filter{
    left: -1px;
    width: 135px;
  }
}

.dropdown-content-filter a {
  color: #B5B5BE;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  border-bottom: 1px solid #D9D9D9;
}
.dropdown-content-filter a:last-of-type{
  border-bottom: none;
}

.dropdown-content-filter a:hover {background-color: #ddd;}

.dropdown-filter:hover .dropdown-content-filter {display: block;}

.dropdown-filter:hover .dropbtn-filter {
 text-decoration: none;
 color: white;

}
/* user card */
.bg-light{
  background-color: white !important;
}
.user-card{
  border-radius: 15px;
}
.user-card-header{
  padding-top: 23px;
  padding-left: 25px;
  padding-right: 20px;
}
.user-card-header h1{
  color: #02553E;
  font-size: 14px;
  padding-left: 2px;
}
.user-card-body img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.user-card-body h1{
  color: #02553E;
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 0px;
  padding-top: 18px;
  padding-bottom:18px;
}
.user-card-body h2{
  font-weight: normal;
  text-transform: capitalize;
  color: #02553E;
  font-size: 14px;
  margin-bottom: 0px;
  padding-bottom:18px;
}
.user-card-body p{
  color:#686868;
  font-size: 14px;
  margin-bottom: 0px;
}
.user-card-body p:last-of-type{
  padding-top: 18px;
  padding-bottom: 18px;
}
.user-card-footer-email,.user-card-footer-phone{
  padding-left: 25px;
  padding-bottom: 18px;
  
}
.user-card-footer-email span,.user-card-footer-phone span{
color: #686868;
font-size: 14px;
padding-top: 5px;
  
}
.phone-outer,.email-outer{
  background-color: #E6EEEC;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  position: relative;
  margin-right: 20px;
}
@media screen and (max-width:1320px) and (min-width:1199px) {
  .phone-outer,.email-outer{
    margin-right:5px;
  }
  .user-card-footer-email,.user-card-footer-phone{
    padding-left: 5px;
    
  }
}
@media screen and (max-width:1060px) and (min-width:992px) {
  .phone-outer,.email-outer{
    margin-right:5px;
  }
  .user-card-footer-email,.user-card-footer-phone{
    padding-left: 5px;
    
  }
}
.phone-outer img,.email-outer img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

}
.phone-outer-green,.email-outer-green{
  background-color: #02553E;
}
.dropbtn-user {
  /* background-color:#02553E; */
  color: white;
  font-size: 16px;
  border: none;
  /* padding: 10px 30px; */
  border-radius: 5px;
}

.dropdown-user {
  position: relative;
  display: inline-block;
}

.dropdown-content-user {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 2px -2px gray;
  width: 101px;
  left: -74px;
  text-align: center;
  top: 32px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content-user a {
  color: #B5B5BE;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
  border-bottom: 1px solid #D9D9D9;
}
.dropdown-content-user a:last-of-type{
  border-bottom: none;
}

.dropdown-content-user a:hover {background-color: #ddd;}

.dropdown-user:hover .dropdown-content-user {display: block;}

.dropdown-user:hover .dropbtn-user {
 text-decoration: none;
 color: white;

}
/* user-detail-profile */
@media screen and (max-width:1600px) and (min-width:1199px){
.user-profile-content-wrapper{
  padding-left:120px !important;
}
.user-profile-content-wrapper-two{
  padding-left: 100px !important;
}
.user-profile-content-button{
  margin-left: 50px !important;
  padding-left: 50px !important;
}

}
.user-profile-content-wrapper,.user-profile-content-wrapper-two{
  max-width:400px !important;
}
.user-detail-profile-container{
  border-radius:15px;
  margin-bottom: 150px;
}
.user-detail-profile-image img{
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: -80px;
}
.user-detail-profile-image button{
  text-decoration: none;
  color: white;
  background-color: #02553E;
 text-align: center;
 height: 69px;
 border: none;
  width: 300px !important;
  border-radius: 10px;
  font-size: 22px;
}
.user-profile-content h1{
  font-size: 18px;
  text-transform: capitalize;

}
.user-profile-content h1:first-of-type{
  color: #B5B5BE;
  padding-top: 40px;
  font-weight: normal;
}
.user-profile-content h1:nth-of-type(2){
  color: black;
  margin-bottom: 0px;
}
.user-profile-content-button{
  padding-top: 100px;
  padding-bottom: 30px;
}
.user-profile-content-button a{
  background-color: #02553E;
  color: white;
  text-decoration: none;
  font-size: 22px;
  height: 69px !important;
  width: 300px !important;
  text-align: center;
  margin-right: 20px;
  border-radius: 10px;
  padding-top: 15px;
}
